<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.javeriana.sebastianmesa.hispanoartcomer">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- <activity -->
        <!-- android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name" /> -->
        <!-- <activity -->
        <!-- android:name="com.facebook.CustomTabActivity" -->
        <!-- android:exported="true"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".Login.LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndexView" />
        <activity android:name=".Login.NewUserView" />
        <activity android:name=".Login.FirstTimeView" />
        <activity android:name=".Login.CompleteInfoView" />
        <activity android:name=".AboutUs.AboutView" />
        <activity android:name=".Restaurante.RestauranteDetailsView" />
        <activity android:name=".Cafeteria.CafeteriaDetailsView" />
        <activity android:name=".Peso.PesoDetailsView" />
        <activity android:name=".Puntos.PuntosDetailsView" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6e4daf8cf41cf8a621e70f064f991dda9bbc73a8" />

        <activity android:name=".Restaurante.RestauranteAditivosView"></activity>
    </application>

</manifest>